**1.  Write a python function to generate random numbers between 1 to 50.**

In [9]:
import random

def rand():
    return random.randint(1,51)

rand()

36

**2.  Write a python function to form a six digit OTP.**

In [8]:
import random

def otp():
    return random.randint(1,999999)
otp()

955840

**3. Square of individual elements in a list or tupple.**

In [11]:
a = [1,2,3,4,5,6]

def square(a):
    for i in a:
        print(i**2)
square(a)

1
4
9
16
25
36

**4.  Write a Python function to sum all the numbers in a list.**

In [13]:
b = [1,2,3,4,5,6]

def sum_list(b):
    return sum(b)

sum_list(b)

21

**5.  Function to sum of numbers in a single number.**

In [23]:
d = int(input("Enter a number: "))

def sum_all(d):
    sums = 0
    for digits in str(d):
        sums += int(digits)
    return sums

sum_all(d)

Enter a number: 12345

15

**6.  Write a Python program to combine two dictionary adding values for common keys. Sample input: d1 = {'a': 100, 'b': 200, 'c':300} and d2 = {'a': 300, 'b': 200,’d’:400} Sample output: Counter ({'a': 400, 'b': 400, 'c': 300, 'd': 400})**

In [25]:
d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

def add_common(d1,d2):
    d3 = dict(d1)
    d3.update(d2)
    for i, j in d1.items():
        for x, y in d2.items():
            if i==x:
                d3[i]=j+y
    return d3

add_common(d1,d2)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

**7. Python function to form table of numbers.**

In [34]:
n = int(input("Enter a number:"))

def table(n):
    for i in range(1,11):
        print(n*i)
    
table(n)

Enter a number:8
8
16
24
32
40
48
56
64
72
80

**8.  Function to compute simple interest.**

In [35]:
def SI(p,n,r):
    simpleint=(p*n*r)/100
    return simpleint

SI(1000,20,8.75)

1750.0

**9.  Function to convert Celsius to Fahrenheit.**

In [36]:
def celtofare(t):
    faren=t * (9/5) + 32
    return faren
celtofare(37)

98.60000000000001

**10. Function to convert Fahrenheit to Celsius.**

In [38]:
f = float(input("Enter degree Fahrenheit: "))

def FahtoCel(f):
    cel= (f-32) / 1.8
    return cel
FahtoCel(f)

Enter degree Fahrenheit: 100

37.77777777777778