**A**

In [2]:
row = int(input("Enter rows: "))
col = (row//2)
for i in range(row):
    for j in range (col+1):
        if ((j==0 or j==col) and i!=0) or ((i==0 or i==col) and (j!=col and j!=0)):
            print ("*",end=" ")
        else:
            print (" ",end=" ")
    print ()

Enter rows: 6
  * *
*     *
*     *
* * * *
*     *
*     *

**B**

In [3]:
row=5
if (row%2==0):
    row=row-1
mid=row//2
for i in range(row):
    for j in range(row):
        if j==0 or (i==mid and j!=row-1) or ((i==0 or i==row-1) and (j!=0 and j!=row-1)) or ((j==row-1) and (i!=0 and i!=row-1) and i!=mid) :
            print ("*",end=" ")
        else:
            print (" ",end=" ")
    print ()

* * * *
*       *
* * * *
*       *
* * * *

**C**

In [4]:
row=5
for i in range(row):
    for j in range(row):
        if (j==0 and i>0 and i<row-1) or ((i==0 or i==row-1) and j!=0):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

  * * * *
*
*
*
  * * * *

**D**

In [6]:
row=5
for i in range(row):
    for j in range(row):
        if j==0 or ((j==row-1) and (i!=0 and i!=row-1)) or ((i==0 or i==row-1) and (j!=0 and j!=row-1)):
            print ("*",end=" ")
        else:
            print (" ",end=" ")
    print()

* * * *
*       *
*       *
*       *
* * * *

**E**

In [7]:
row=5
mid=row//2
for i in range(row):
    for j in range(row):
        if (j==0 or (i==mid or i==0 or i==row-1) and (j<row-1)):
            print ("*",end=" ")
        else:
            print (" ",end=" ")
    print()

* * * *
*
* * * *
*
* * * *

**F**

In [8]:
row=5
mid=row//2
for i in range(row):
    for j in range(row):
        if (j==0 or (i==mid or i==0) and (j<row-1)):
            print ("*",end=" ")
        else:
            print (" ",end=" ")
    print()

* * * *
*
* * * *
*
*

**G**

In [9]:
row=5
for i in range(row):
    for j in range(row):
        if (j==0 and i>0 and i<row-1) or ((i==0 or i==row-1) and j!=0) or (j==row-1 and i>=row//2) or (i==row//2 and j>row//2):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

  * * * *
*
*     * *
*       *
  * * * *

**H**

In [10]:
row=5
if (row%2==0):
    row=row-1
mid=row//2
for i in range(row):
    for j in range(row):
        if (j==0 or j==row-1 or i==mid):
            print ("*",end=" ")
        else:
            print (" ",end=" ")
    print ()

*       *
*       *
* * * * *
*       *
*       *

**I**

In [11]:
row=5
if (row%2==0):
    row=row-1
mid=row//2
for i in range(row):
    for j in range(row):
        if (i==0 or i==row-1 or j==mid):
            print ("*",end=" ")
        else:
            print (" ",end=" ")
    print ()

* * * * *
    *
    *
    *
* * * * *

**J**

In [13]:
row=6
if (row%2==0):
    row=row-1
mid=row//2
for i in range(row):
    for j in range(row):
        if (i==0 or (i==row-1 and j<mid) or (i==row-2 and j==0) or j==mid):
            print ("*",end=" ")
        else:
            print (" ",end=" ")
    print ()

* * * * *
    *
    *
*   *
* * *

**K**

In [14]:
row=4
if (row%2==0):
    row=row+1
mid=row//2
for i in range(row):
    for j in range(row):
        if j==0 or (mid-j+1==i) or (mid+j-1==i):
            print ("*",end=" ")
        else:
            print (" ",end=" ")
    print()

*     *
*   *
* *
*   *
*     *

**L**

In [15]:
row=5
for i in range(row):
    for j in range(row):
        if (j==0 or i==row-1):
            print ("*",end=" ")
        else:
            print (" ",end=" ")
    print ()

*
*
*
*
* * * * *

**M**

In [16]:
row=6
k=row+2
for i in range(row):
    for j in range(row+2):
        if (j==0 or (j==row+1)) or (i==j and i<=row//2) or (k-1==j and i<=row//2):
            print ("*",end="")
        else:
            print (" ",end="")
    k=k-1
    print()

*      *
**    **
* *  * *
*  **  *
*      *
*      *

**N**

In [17]:
row=4
for i in range(row):
    for j in range(row):
        if (j==0 or j==row-1 or i==j):
            print ("*",end=" ")
        else:
            print (" ",end=" ")
    print ()

*     *
* *   *
*   * *
*     *

**O**

In [18]:
row=5
for i in range(row):
    for j in range(row):
        if ((j==0 or j==row-1) and (i!=0 and i!=row-1)) or ((i==0 or i==row-1) and (j!=0 and j!=row-1)):
            print ("*",end=" ")
        else:
            print (" ",end=" ")
    print ()

  * * *
*       *
*       *
*       *
  * * *

**P**

In [19]:
row=5
mid=row//2
for i in range(row):
    for j in range(row):
        if (j==0 or (j==row-2 and i<=mid) or (i==mid or i==0) and (j<row-1)):
            print ("*",end=" ")
        else:
            print (" ",end=" ")
    print()

* * * *
*     *
* * * *
*
*

**Q**

In [20]:
row=5
k=row//2
for i in range(row+1):
    for j in range(row):
        if ((j==0 or j==row-1) and (i!=0 and i!=row-1 and i!=row)) or ((i==0 or i==row-1) and (j!=0 and j!=row-1)) or (j==i-1 and i>k):
            print ("*",end=" ")
        else:
            print (" ",end=" ")
    print ()

  * * *
*       *
*       *
*   *   *
  * * *
        *

**R**

In [21]:
row=5
if (row%2==0):
    row=row-1
mid=row//2
for i in range(row):
    if (mid<i):
        k=k+1
    for j in range(row):
        if j==0 or (j==mid and i<=mid) or ((i==mid or i==0) and (j<mid)) or (mid+j==i):
            print ("*",end=" ")
        else:
            print (" ",end=" ")
    print()

* * *
*   *
* * *
* *
*   *

**S**

In [22]:
row=4
if (row%2==0):
    row=row+1
mid=(row//2)
for i in range(row):
    for j in range(row):
        if ((j==0 and i<=mid) or (j==row-1 and i>=mid)) or i in (0,mid,row-1):
            print ("*",end=" ")
        else:
            print (" ",end=" ")
    print ()

* * * * *
*
* * * * *
        *
* * * * *

**T**

In [23]:
row=4
if (row%2==0):
    row=row+1
mid=(row//2)
for i in range(row):
    for j in range(row):
        if (i==0 or j==mid):
            print ("*",end=" ")
        else:
            print (" ",end=" ")
    print ()

* * * * *
    *
    *
    *
    *

**U**

In [24]:
row=5
for i in range(row):
    for j in range(row):
        if ((j==0 or j==row-1) and i!=row-1) or (i==row-1 and j!=row-1 and j!=0):
            print ("*",end=" ")
        else:
            print (" ",end=" ")
    print ()

*       *
*       *
*       *
*       *
  * * *

**V**

In [25]:
row=5
k=row*2-1
for i in range(row):
    for j in range(k):
        if (i==j) or (k==j+1) :
            print ("*",end="")
        else:
            print (" ",end="")
    k=k-1
    print()

*       *
 *     *
  *   *
   * *
    *

**W**

In [26]:
row=5
k=row
y=row
for i in range(row,0,-1):
    for j in range(row*2+1):
        if (j==0 or (j==row*2)) or (i==j) or (k==i and y==j):
            print ("*",end="")
        else:
            print (" ",end="")
    k=k-1
    y=y+1
    print()

*    *    *
*   * *   *
*  *   *  *
* *     * *
**       **

**X**

In [27]:
row = int(input("Enter row: "))
if (row%2==0):
    row=row+1
k=row
for i in range(row+1):
    for j in range(row):
        if (i==j+1) or (j==k):
            print ("*",end=" ")
        else:
            print (" ",end=" ")
    k=k-1
    print ()

Enter row: 6

*           *
  *       *
    *   *
      *
    *   *
  *       *
*           *

**Y**

In [28]:
k=row = 5
if (row%2==0):
    row=k=row-1
else:
    mid=(row//2)+1
for i in range(row):
    for j in range(row):
        if ((i==j) and (i<mid)) or ((j==mid-1) and (i>=mid)) or ((j==k-1) and j>=mid):
            print ("*",end=" ")
        else:
            print (" ",end=" ")
    k=k-1
    print ()

*       *
  *   *
    *
    *
    *

**Z**

In [30]:
%%time

k=row=5
for i in range(row,0,-1):
    for j in range(row):
        if (i==j+1) or (i==1 or i==k):
            print ("*",end=" ")
        else:
            print (" ",end=" ")
    print()

* * * * *
      *
    *
  *
* * * * *
Wall time: 0 ns