# TUPLES

### What are tuples?
 * It is an immutable Datatype.
 * tuple is a collection which is ordered and unchangeable that is they are immutable.
 * A tuple consists of a number of values separated by commas, with parentheses for instance:
 Tuple =  ( ‘Audumbar’ , ‘Abhijit’ , ‘Vivek’)

#### how to create empty  tuple?

In [ ]:
empty = ()
print(empty)

#### how to produce single element tuple?

In [ ]:
tup = 'hello'
print("TYPE OF tup1 =('hello') : ",type(tup))
# here definately the type of tup is data becase in tuple values are seperated by commas
print()

tup1 =  ('hello',)
print("TYPE OF tup1 =('hello,') : ",type(tup1)) 
# here the value is separated by comma so the datetype is "tuple"
print()
tup2 = "hello",
print('TYPE OF tup2 = "hello", : ',type(tup2))
# parentheses is not required to represent a tuple.

#### how to produce multiple elements tuple of same date type?

In [ ]:
tup4= (1,2,3,4,5,6,7,8,9)
print(tup4)

tup41=1,2,3,4,5,6,7,8,9
print(tup4)
print(type(tup41))
print()
tup5 = ('a','b','c','d','e','f')
print(tup5)
tup51 = 'a','b','c','d','e','f'
print(tup51)
print(type(tup51))

# output of tuple is always represted in parentheses

#### tuples with mixed datatype

In [ ]:
tup6 = 12345, 54321, 'hello!'
print(tup6)

#### how to get the total number of elements inside a tuple?

In [ ]:
# using len 
tup6 = 12345, 54321, 'hello!'
print(tup6)
print('length of tuple : ',len(tup6))

#### creating a tuple with in-build function

In [ ]:
tup7 = tuple ()
print(tup7)
print(type(tup7))
print(len(tup7))

#### creating a tuple with iterable objects

In [14]:
# iterable object = list
tp1 = tuple(['helo','hi','nice','beautiful'])
print(tp1)
print(type(tp1))
print('lngth of tuple :', len(tp1))
print()
tp2 =(['helo','hi','nice','beautiful'],)
print(tp2)
print('lngth of tuple :', len(tp2))
print(type(tp2))

('helo', 'hi', 'nice', 'beautiful')
<class 'tuple'>
lngth of tuple : 4

(['helo', 'hi', 'nice', 'beautiful'],)
lngth of tuple : 1
<class 'tuple'>

In [15]:
#iterable object = set
tp4 = tuple({'a','b','c','d','a'})
print(tp4)
print(type(tp4))
print('length of tuple :' ,len(tp4))

print()

tp5 = ({'a','b','c','d'},)
print(tp5)
print('length of tuple :', len(tp5))
print(type(tp5))

('b', 'c', 'd', 'a')
<class 'tuple'>
length of tuple : 4

({'b', 'c', 'd', 'a'},)
length of tuple : 1
<class 'tuple'>

In [16]:
str1 =  'AUDUMBAR'
print('str1 :',str1)
a=tuple(str1)
print('DATA TYPE OF STR1 ',type(str1))
print('String converted to a tuple : ',a)

str1 : AUDUMBAR
DATA TYPE OF STR1  <class 'str'>
String converted to a tuple :  ('A', 'U', 'D', 'U', 'M', 'B', 'A', 'R')

### accessing elements of tuples

#### index

In [1]:
t = ('a', 'b', 'c', 'd', 'e', 'f')
# to get element 'b' with positive index
print('At index 1st : ',t[1])
print('At index 4th :',t[4])
print()

# to get an element with negative index
print('at -1 index :', t[-1])
print('at -3 index: ', t[-3])

At index 1st :  b
At index 4th : e

at -1 index : f
at -3 index:  d

#### slicing of the elements

In [ ]:
t1 = ('helo','hi','nice','beautiful')
# tuple[start:stop]
# to get 1st three elements i.e. hello , hi , nice
print(t1[0:3])
print(t[:3])
# IMPORTANT : last index element is exclusive means it alway consider 0th , 1st , 2nd elment and 3rd is exclusive.
print()
t2 = ('a', 'b', 'c', 'd', 'e', 'f')
# to get d and e
print(t2[3:5])

In [ ]:
t1 = ('helo','hi','nice','beautiful')
print(t1[-4:]) # automatically it will take the all the values till last element.

In [ ]:
t2 = ('a', 'b', 'c', 'd', 'e', 'f') # to get d and e using -indexing 
print(t2[-3:-1])

In [1]:
t3 = (0,1,2,3,4,5,6,7,8)
# to get all the elements
print(t3[0:9]) # 9 because 9th index will be excusive
print(t3[:]) # if neither is defined it will return full tuple.

print()
print(t3[0:5])
print(t3[:5])# so here no need to mention 0 . it will automatically consider values from begining of the tuple.

(0, 1, 2, 3, 4, 5, 6, 7, 8)
(0, 1, 2, 3, 4, 5, 6, 7, 8)

(0, 1, 2, 3, 4)
(0, 1, 2, 3, 4)

In [ ]:
#to get the reverse of the tuple using step value
t3 = (0,1,2,3,4,5,6,7,8) 
print(t3[::-1])

for i in reversed(t3):
    print(i, end=" ")

In [ ]:
# #step specify an increment between the elements to cut of the tuple.
t4=('a','b','c','d','e','f')
print('alternate values : ',t4[::2])

In [ ]:
# step value 3
print(t4[::3])

In [ ]:
print(t4[::-1])

In [ ]:
# step value -2 , #when step is negative the jump is made back
t4=('a','b','c','d','e','f')
print(t4[::-2])

In [ ]:
# step value -3 ,#when step is negative the jump is made back
t4=('a','b','c','d','e','f')
print(t4[::-3])

In [ ]:
t4=('a','b','c','d','e','f')
print(t4[1:5])
print(t4[1:5:2])

In [ ]:
t4=('a','b','c','d','e','f')
print(t4[5:1:-2])

### join two tuples

In [ ]:
tup=(1,2,3,4,5)
print('tup =',tup)
tup1 = (6,7,8,9)
print('tup1 = ',tup1)
tup3 = tup+tup1
print('tup+tup1 = ',tup3)

In [ ]:
tup4 = tup[:2] + ('a','b','c') + tup3[:]
tup4

### to get the id of tuple

In [ ]:
print(id(tup4))

In [ ]:
pwd

### looping through tuple:

In [ ]:
tp1 = ('a','b','c','d','e')
for i in tp1:
    print(i)

In [ ]:
tuple1= (1,2,3,4,5,6,7)
for i in tuple1:
    print(i,end=' ')

### membership operators:

In [12]:
# in 
# not in
tp1 = ('a','b','c','d','e')
print('d' in tp1)

True

In [13]:
print('d' not in tp1)

False

### inbuilt functions in tuples

* min
* max
* sum
* sorted
* length 
* enumerate

###### max

In [ ]:
# max
max(20, 10, 30, -5)

In [ ]:
tup2 = ( 'a','b','c','aa','abc','ghijk','z')
max(tup2,key=len)

In [ ]:
tup2 = ( 'a','b','c','aa','abc','ghijk','z')
max(tup2, key=str)

######  min

In [ ]:
# min
min(20, 10, 30, -5)

###### sum

In [ ]:
#sum
tup = (20, 10, 30, -5) 
sum(tup)

###### len

In [ ]:
#len
tup = (20, 10, 30, -5) 
len(tup)

###### enumerate()

The enumerate() function assigns an index to each item in an iterable object that can be used to reference the item later. What does enumerate do in Python? It makes it easier to keep track of the content of an iterable object.

The enumerate() function in Python is commonly used instead of the for loop. That’s because enumerate() can iterate over the index of an item, as well as the item itself.

Using enumerate() also makes the code cleaner, since you have to write fewer lines.

In [1]:
#enumerte for iterable object 

cars = ('kia', 'audi', 'bmw')

3#only enumerate gives you 
print(enumerate(cars))
print()
print(tuple(enumerate(cars)))

<enumerate object at 0x000002B2B9681B88>

((0, 'kia'), (1, 'audi'), (2, 'bmw'))

In [ ]:
#enumerte for iterable object 

cars = ('kia', 'audi', 'bmw')

#only enumerate gives you alphanumeric memmory referance
print(enumerate(cars))
print()
print(tuple(enumerate(cars,start = 6)))  # index value start from 6

### inbuilt methods

* .count()
* .index()

In [ ]:
tup = ( 1,2,3,4,5,6,6,6,6,8,9,7,8,5,7,6,6,6,6,6)
# to count how many times 6 has repeated in tuple.
 
print(tup.count(6))

In [ ]:
# to get the index of a value
print(tup.index(8))

In [ ]:
tup = ( 1,2,3,4,5,6,6,6,6,8,9,7,8,5,7,6,6,6,6,6)
print(tup.index(6))

### adding or appending any element in a defined tuple.
* tuple is an immutable datatye.so nothing can be added or appended in a defined tuple.
* you even cannot delete any element from a defined tuple.

In [ ]:
tuple1= (1,2,3,4,5,6,7)
del tuple1[3]

# so you cannot delete any item from a defined tuple.

In [ ]:
# to delete a tuple's items you need to convert tuple to list and then delete the item.
tuple1= (1,2,3,4,5,6,7)
print('tuple1 = ',tuple1)
print()
lst=list(tuple1)
print('tuple1 converted to list  = ',lst)

lst.pop(3)
print('list after deletion of item : ', lst)
print()
print('tuple after deletion of an item = ',tuple(lst))

In [ ]:
tuple1= (1,2,3,4,5,6,7)
del tuple1
print(tuple1)

### any and all

 any() If even one item in the tuple has a Boolean value of True, then this function returns True.
Otherwise, it returns False. 2. all() Unlike any(), all() returns True only if all items have a Boolean
value of True. Otherwise, it returns False.

In [ ]:
t6 = (1,'','','')
print(t6)
print(any(t6))

In [ ]:
t6 = ('1','' ' ',' ')
print(t6)
print(any(t6))

In [ ]:
t6 = ('0','' ' ',' ')
print(t6)
print(any(t6))

In [ ]:
t6 = (0,'','','')
print(t6)
print(any(t6))

In [ ]:
t6 = ('','','')
print(t6)
print(any(t6))

In [ ]:
t6 = ()
print(any(t6))

In [ ]:
t7 = ('a','b','c','d', 'e')
print(t7)
print( all(t7))

In [ ]:
t7 = ('0','b','c','d', 'e')
print(t7)
print( all(t7))

In [ ]:
t7 = (0,'b','c','d', 'e')
print(t7)
print('t7 (all) : ', all(t7))
print('t7 (any) : ', any(t7))

### apppending tuple to a list

In [3]:
numbers = [1,2,3,4,5,6,7]
numbers += (34,35)


numbers

[1, 2, 3, 4, 5, 6, 7, 34, 35]

In [4]:
list1 = ['a','b','c','d']
a = (4,5)
list1+=a

list1

['a', 'b', 'c', 'd', 4, 5]

### tuples with mutable objects

In [14]:
tup1 = ([1,2,3,43],['a','b','c'])

print('list inside a tuple :',tup1)

tup1[1][2]=9
print(tup1)

list inside a tuple : ([1, 2, 3, 43], ['a', 'b', 'c'])
([1, 2, 3, 43], ['a', 'b', 9])

In [15]:
tup1[0].append('c')
print(tup1)

([1, 2, 3, 43, 'c'], ['a', 'b', 9])

In [16]:
tup1[1].append('J')
print('tuple after appending value in 2nd list (value at 1st index) : ',tup1)

tuple after appending value in 2nd list (value at 1st index) :  ([1, 2, 3, 43, 'c'], ['a', 'b', 9, 'J'])

### mapping one tuple to other

In [4]:
(a,b,c)=(1,2,3)
print(a)
print(b)
print(c)
print()
print(a,b,c)

1
2
3

1 2 3

In [19]:
(a,b,c)=('audumbar','abhijit','Vivek')
print(a,b,c)
print(b)

audumbar abhijit Vivek
abhijit

### unpacking of tuple 
In Python there is a very powerful tuple assignment feature that assigns right hand side of values into left hand side. In other way it is called unpacking of a tuple of values into a variable. In packing, we put values into a new tuple while in unpacking we extract those values into a single variable.

In [20]:
# this lines PACKS values into variable a 
a = ("MET BANDRA", 500, 'Pharmacy')  

# this lines UNPACKS values   of variable a 
(college, student, type_ofcollege) = a 
# print college name 
print(college) 
  
# print no of student 
print(student) 
  
# print type of college 
print(type_ofcollege)

MET BANDRA
500
Pharmacy

In [24]:
# unpacking python tuple using * 
  
# first and last will be assigned to x and z 
# remaining will be assined to y 
x, *y, z = (10, "Audumbar", " Vivek ", "Abhijit ", 50) 
  

print('x : ',x) 
print('y : ',y) 
print('z : ',z) 
print()
# first and second will be assigned to x and y 
# remaining will be assined to z 
x, y, *z = (10, "Audumbar", " Vivek ", "Abhijit ", 50) 
print('x : ',x) 
print('y : ',y) 
print('z : ',z) 
print()

*x, y, z = (10, "Audumbar", " Vivek ", "Abhijit ", 50) 
print('x : ',x) 
print('y : ',y) 
print('z : ',z) 
print()

x :  10
y :  ['Audumbar', ' Vivek ', 'Abhijit ']
z :  50

x :  10
y :  Audumbar
z :  [' Vivek ', 'Abhijit ', 50]

x :  [10, 'Audumbar', ' Vivek ']
y :  Abhijit
z :  50

### nested tuples

In [26]:
nested_tup = ((1,2,3,4,5),('a','b',(10,11,12,13,14),'c','d'))
print(nested_tup)
print( type ( nested_tup ))

((1, 2, 3, 4, 5), ('a', 'b', (10, 11, 12, 13, 14), 'c', 'd'))
<class 'tuple'>

In [27]:
 # to get 13 
print(nested_tup[1][2][3])

13

In [28]:
# to get d 
print(nested_tup[1][4])

d